/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  margin: 20px 0px 20px 85px;
  align-items: center;
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.color-wheel-and-slider {
    position: absolute;
    left: 1%;
    right: 70%;
}

.slider {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.icon-wrapper {
    position: relative;
    padding: 0px 30px;
}

.icon-wrapper .anticon {
    position: absolute;
    top: -2px;
    width: 16px;
    height: 16px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 16px;
    line-height: 1;
}

.icon-wrapper .icon-wrapper-active {
    color: rgba(0, 0, 0, 0.45);
}

.icon-wrapper .anticon:first-child {
    left: 0;
}

.icon-wrapper .anticon:last-child {
    right: 0;
}
